div.text_tight {
    margin-top: 2px;
    padding-top: 2px;
}

div.toc_text_tight {
    line-height: 1.15;
    font-size: 0.25 rem;
    margin-top: 0;
}

div.toc_text_tight_i {
    line-height: 1.15;
    font-size: 0.25 rem;
    font-style: italic;
}

.class-prog1 {
    display: flex;
    align-items: center; /* vertically */
    justify-content: center;  /* horizontal */
    height: 150px;
    border: 1px solid #ccc;
    padding: 2px;
  --sd-color-card-background: #F7F056;
}

.class-prog2 {
    display: flex;
    align-items: center; /* vertically */
    justify-content: center;  /* horizontal */
    height: 150px;
/*    border: 1px solid #ccc;*/
    padding: 2px;
  --sd-color-card-background: #F7CB45;
}

.class-prog3 {
    display: flex;
    align-items: center; /* vertically */
    justify-content: center;  /* horizontal */
    height: 150px;
/*    border: 1px solid #ccc;*/
    padding: 2px;
  --sd-color-card-background: #F7CB45;
}

.class-prog4 {
    display: flex;
    align-items: center; /* vertically */
    justify-content: center;  /* horizontal */
    height: 150px;
    border: 1px solid #ccc;
    padding: 2px;
  --sd-color-card-background: #D9CCE3;
}

.class-prog5 {
    display: flex;
    align-items: center; /* vertically */
    justify-content: center;  /* horizontal */
    height: 150px;
    border: 1px solid #ccc;
    padding: 2px;
  --sd-color-card-background: #EEDD88;
}

.class-prog6 {
    display: flex;
    align-items: center; /* vertically */
    justify-content: center;  /* horizontal */
    height: 150px;
    border: 1px solid #ccc;
    padding: 2px;
  --sd-color-card-background: #7BAFDE;
}

.class-prog7 {
    display: flex;
    align-items: center; /* vertically */
    justify-content: center;  /* horizontal */
    height: 150px;
    border: 1px solid #ccc;
    padding: 2px;
  --sd-color-card-background: #CCDDAA;
}
