
/*not sure which of these works for you; also blue can just be the default colour/*
.opt-button-blue {
    white-space: normal;
    font-size: 14px !important;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    --sd-color-card-background: #DAE8FC;
}

.opt-button-grey {
    white-space: normal;
    font-size: 14px !important;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    --sd-color-card-background: #F5F5F5;
}

.class-opt-button-blue {
  --sd-color-card-background: #DAE8FC;
}

.class-opt-button-blue {
  --sd-color-card-background: #DAE8FC;
}
