.tooltip-inner {
    max-width: 400px !important; //define whatever width you want
}

.btn-bd-tip {
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
  --bs-btn-border-width: 1px;
  --bs-btn-border-radius: 1px;
  --bs-btn-font-weight: 475;
  --bs-btn-font-size: .95em;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bs-white);
  --bs-btn-border-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-blue-700, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-blue-700, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-blue-700-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-blue-700, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-blue-700, 20%)};
}

.btn-bd-tip-info-hidden {
  --bs-btn-margin-top: -0.25rem !important;
  --bs-btn-padding-x: 0rem;
  --bs-btn-padding-y: 0rem;
  --bs-btn-padding-x-sm: 0;
  --bs-btn-padding-y-sm: 0;
  --bs-btn-border-radius: 0;
  --bs-btn-border-width: 10;
  --bs-btn-font-weight: 600;
  --bs-btn-font-size: .9em;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bs-white);
  --bs-btn-border-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-blue-700, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-blue-700, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}


.btn-bd-hidden {
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
  --bs-btn-border-width: 0px;
  --bs-btn-border-radius: 0px;
  --bs-btn-font-size: .95em;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bs-white);
}
.btn-bd-text2 {
  --bs-btn-margin-top: -0.25rem !important;
  --bs-btn-padding-x: 0rem;
  --bs-btn-padding-y: 0rem;
  --bs-btn-padding-x-sm: 0;
  --bs-btn-padding-y-sm: 0;
  --bs-btn-border-radius: 0;
  --bs-btn-border-width: 10;
  --bs-btn-font-weight: 600;
  --bs-btn-font-size: .9em;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bs-white);
  --bs-btn-border-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-blue-700, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-blue-700, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}